<% 
if(typeof active == 'undefined'){ 
  active = 'home';
}
if(typeof title == 'undefined') {
  title = 'ArduPlotter'
}
var pageClass = title.toLowerCase().replace(/ /g,'-');
%>

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <% //global.newrelic.getBrowserTimingHeader() %>
    <title>ArduPlotter - <%- title %></title>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <!--STYLES END-->
  </head>

  <body>
<!-- Wrap all page content here -->
    <div id="wrap" class="page-<%= pageClass %>">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ArduPlotter</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="<%= ((active == 'home') ? 'active' : '')%>"><a href="/">Home</a></li>
              <li class="<%= ((active == 'upload') ? 'active' : '')%>"><a href="/upload">Upload</a></li>
              <li class="<%= ((active == 'view') ? 'active' : '')%>"><a href="/view">View</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="<%= ((active == 'help') ? 'active' : '')%>"><a href="/help">Help</a></li>
              <li class="<%= ((active == 'about') ? 'active' : '')%>"><a href="/about">About</a></li>
              <li class="<%= ((active == 'contact') ? 'active' : '')%>"><a href="/contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="page-content">
        <%- body %>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">A <a href="http://chrisrogers.me.uk">Chris Rogers</a> Project</p>
      </div>
    </div>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-1.10.2.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/dropzone.js"></script>
    <script src="/js/sockety.js"></script>
    <script src="/js/upload.js"></script>
    <!--SCRIPTS END-->
    
    <%- scripts %>
  </body>
</html>
