<%
  active = 'view'
  title = 'Browse'
%>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Previously Uploaded Logs</h1>
			<table class="table">
				<thead>
					<tr>
						<th>Date</th>
						<th>Log Details</th>
						<th>Size</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				<% for(var k in logs) { %>
					<tr>
						<td><%= logs[k].createdAt %></td>
						<td>
						<% if (typeof logs[k].logContains == "undefined") { %>
								Processing
						<% } else { %>
							<span class="label label-<%= logs[k].logContains.curr ? 'success' : 'default' %>">Power</span>
							<span class="label label-<%= logs[k].logContains.ctun ? 'success' : 'default' %>">Altitude</span>
							<span class="label label-<%= logs[k].logContains.att ? 'success' : 'default' %>">Attitude</span>
							<span class="label label-<%= logs[k].logContains.gps ? 'success' : 'default' %>">GPS</span>
							<span class="label label-<%= logs[k].logContains.imu ? 'success' : 'default' %>">IMU</span>
							<span class="label label-<%= logs[k].logContains.ntun ? 'success' : 'default' %>">NTUN</span>
							<span class="label label-<%= logs[k].logContains.err ? 'danger' : 'default' %>">Error(s)</span>
						<% } %>
						</td>
						<td><%= (logs[k].size / 1000).toFixed(2) %> kB</td>
						<td>
							<a href="/view/<%= logs[k].id %>" class="btn btn-default pull-right">Go &raquo;</a>
						</td>
					</tr>
				<% } %>
				</tbody>
			</table>
			<div class="row">
				<div class="col-sm-3 col-xs-6 text-left">
					<ul class="pager">
  					<li class="previous <%= (page === 1 ? 'disabled' : '')%>"><a href="/view?page=<%= (page === 1 ? '1' : page - 1) %>">Previous</a></li>
					</ul>
				</div>
				<div class="col-sm-6 hidden-xs text-center">
					<ul class="pagination">
<% if ( (page) > 3 ) { %>
	
	<li><a href="/view?page=1">1</a></li>
	<li class="disabled"><a href="#">...</a></li>
<% } %>
<% 
for (p = (page - 2); p < (page + 3); p++) { 
	if (p > 0 && p <= pages) {
%>
	<li class="<%=(p == page ? 'active' : '') %>"><a href="/view?page=<%=p%>"><%=p%> <span class="sr-only">(current)</span></a></li>
<% 
	} 
} 
if ( (page+2) < pages ) { %>
	<li class="disabled"><a href="#">...</a></li>
	<li><a href="/view?page=<%=pages%>"><%=pages%></a></li>
<% } %>
					</ul>
				</div>
				<div class="col-sm-3 col-xs-6 text-right">
					<ul class="pager">
						<% next = (page === pages ? pages : page+1) %>
  					<li class="next <%= (page === next ? 'disabled' : '') %>"><a href="/view?page=<%= next %>">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>