<%
  active = 'view'
  title = 'View Log'
%>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p></p>
		</div>
	</div>
      
	<div class="row">
		<div class="col-md-11">
			<div id="map-canvas"></div>
		</div>
		<div class="col-md-1">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Map Tools</h3>
				</div>
				<div class="panel-body">
					<button type="button" id="playRouteBtn" class="btn" onclick="app.play(0)"><span class="glyphicon glyphicon-play"></span></button>
				</div>
			</div>
		</div>
	</div>
      
	<div class="row">
		<div class="col-md-12">
			<p></p>
			
			<div class="btn-group pull-right ">
				<a href="kml.php" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> KML</a>
				<a href="/view/<%= log.id %>.log" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> Log</a>
			</div>

			<ul class="nav nav-tabs">
				<% if (processed.current.exists) { %><li><a href="#power" data-toggle="tab">Power</a></li><% } %>
				<% if (processed.ctun.exists) { %><li><a href="#altitude" data-toggle="tab">Altitude</a></li><% } %>
				<% if (processed.att.exists) { %><li><a href="#attitude" data-toggle="tab">Attitude</a></li><% } %>
				<% if (processed.gps.exists) { %><li><a href="#gps" data-toggle="tab">GPS</a></li><% } %>
				<% if (processed.imu.exists) { %><li><a href="#imu" data-toggle="tab">IMU</a></li><% } %>
				<li class="active"><a href="#messages" data-toggle="tab">Messages</a></li>
				<li><a href="#params" data-toggle="tab">Params</a></li>
			</ul>
			<p></p>


			<div class="tab-content">
         
        <% if (processed.current.exists) { %>
				<div class="tab-pane" id="power">
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<button class="btn btn-xs btn-primary pull-right toggle-size visible-md visible-lg"><span class="glyphicon glyphicon-resize-full"></button>
									<h3 class="panel-title">Voltage over time</h3>
								</div>
								<div class="panel-body"><div id="voltage-graph"  style="width:100%;height:300px;"></div></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></button>
									<h3 class="panel-title">Current over time</h3>
								</div>
								<div class="panel-body">
								<div id="current-graph"  style="width:100%;height:300px;"></div></div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></button>
									<h3 class="panel-title">Total Current</h3>
								</div>
								<div class="panel-body">
								<div id="totcurrent-graph"  style="width:100%;height:300px;"></div></div>
							</div>
						</div>
					</div>
				</div><!-- /power tab -->
				<% } %>
	          
				<% if (processed.current.exists) { %>
	      <div class="tab-pane" id="altitude">
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></button>
									<h3 class="panel-title">Altitude</h3>
								</div>
								<div class="panel-body"><div id="altitude-graph"  style="width:100%;height:300px;"></div></div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></button>
									<h3 class="panel-title">Throttle</h3>
								</div>
								<div class="panel-body"><div id="throttle-graph"  style="width:100%;height:300px;"></div></div>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></button>
									<h3 class="panel-title">Climb Rate</h3>
								</div>
								<div class="panel-body"><div id="crate-graph"  style="width:100%;height:300px;"></div></div>
							</div>
						</div>
					</div>
				</div><!-- /altitude tab -->
	      <% } %>      

				<% if (processed.att.exists) { %>
	      <div class="tab-pane" id="attitude">
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></button>
									<h3 class="panel-title">Roll</h3>
								</div>
								<div class="panel-body"><div id="attitude-roll-graph"  style="width:100%;height:300px;"></div></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></button>
									<h3 class="panel-title">Pitch</h3>
								</div>
								<div class="panel-body"><div id="attitude-pitch-graph"  style="width:100%;height:300px;"></div></div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></button>
									<h3 class="panel-title">Yaw</h3>
								</div>
								<div class="panel-body"><div id="attitude-yaw-graph"  style="width:100%;height:300px;"></div></div>
							</div>
						</div>
					</div>
	      </div><!-- /attitude tab -->
	      <% } %>

				<% if (processed.gps.exists) { %>
	      <div class="tab-pane" id="gps">
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></button>
									<h3 class="panel-title">Status &amp; HDop</h3>
								</div>
								<div class="panel-body"><div id="gps-status-graph"  style="width:100%;height:300px;"></div></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></button>
									<h3 class="panel-title">Satellites</h3>
								</div>
								<div class="panel-body"><div id="gps-satellites-graph"  style="width:100%;height:300px;"></div></div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></button>
									<h3 class="panel-title">Speed</h3>
								</div>
								<div class="panel-body">
									<div id="gps-speed-graph"  style="width:100%;height:300px;"></div>
									<p><strong>Average Speed:</strong> <%= processed.gps.avgSpd %>m/s
								</div>
							</div>
						</div>
					</div>
	      </div><!-- /gps tab -->
	      <% } %>

				<% if (processed.imu.exists) { %>
	      <div class="tab-pane" id="imu">
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></button>
									<h3 class="panel-title">Vibrations</h3>
								</div>
								<div class="panel-body"><div id="vibrations-graph"  style="width:100%;height:300px;"></div></div>
							</div>
						</div>
					</div>
				</div>
				<% } %>

				<div class="tab-pane active" id="messages">
	      	<div class="alert alert-success">
						<strong>Well done!</strong>
						You successfully read this super important alert message.
					</div>
	      	
          <% if (processed.err.exists) { %>
            <% for (k in processed.err.errs) { %>
              <div class="alert alert-danger">
                <strong><%= processed.err.errs[k].type %></strong>
                <%= processed.err.errs[k].msg %>
              </div>
            <% } %>
          <% } %>
	      </div>


	      <div class="tab-pane" id="params">

		      <div class="col-md-6 col-md-offset-3">
		        <table class="table table-hover table-striped">
		          <tr>
		            <th>Parameter</th>
		            <th>Value</th>
		          </tr>
		       
	          	<% for (var k in processed.params) { %>
	          		<tr>
	          			<td><%= processed.params[k].name %></td>
	          			<td><%= processed.params[k].value %></td>
          			</tr>
	          	<% } %>
		        
 						</table>
		      </div>
		    </div>
	    </div>
		</div>
	</div>
</div>

<%
scripts = '<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>' +
'<script language="javascript" type="text/javascript" src="/flot/jquery.flot.js"></script>' + 
'<script language="javascript" type="text/javascript" src="/flot/jquery.flot.resize.min.js"></script>' + 
'<script language="javascript" type="text/javascript" src="/flot/jquery.flot.navigate.js"></script>' +
'<script language="javascript" type="text/javascript" src="/flot/jquery.flot.crosshair.js"></script>' +
'<script language="javascript" type="text/javascript" src="/view/' + log.id + '.js"></script>';
%>
